<link
  href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<header>
  <div class="row">
    <div class="col-lg-10">
      <div>
        <h1>Gradding Portal</h1>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="dropdown">
        <button
          class="btn btn-dark my-2 dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Logout
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">logout</a>
          <a class="dropdown-item" href="#">Back to Main</a>
        </div>
      </div>
    </div>
  </div>
</header>
