<div class="my-2">
  <h1>Student Form</h1>
  <div class="card shadow my-5">
    <form [formGroup]="student"  class="mx-2 my-3 ">
      <div class="form-row my-4">
        <div class="col">
          <label>FirstName: </label>
          <input
            type="text"
            formControlName="fname"
            class="form-control"
            placeholder="first name"
          />
          <div *ngIf="student.controls['fname'].touched">
              <p class="alert alert-danger" *ngIf="student.controls['fname'].hasError('required')">Name is Required!</p>
          </div>
        </div>
        <div class="col">
          <label>LastName: </label>
          <input
            type="text"
            formControlName="lname"
            class="form-control"
            placeholder="Last name"
          />
          <div *ngIf="student.controls['lname'].touched">
            <p class="alert alert-danger" *ngIf="student.controls['lname'].hasError('required')">Name is Required!</p>
        </div>
        </div>
      <!-- </div> -->
      </div>
      <div class="form-row my-4">
        <div class="col">
          <label>Address: </label>
          <input
            type="text"
            formControlName="address"
            class="form-control"
            placeholder="address"
          />
          <div *ngIf="student.controls['address'].touched">
            <p class="alert alert-danger" *ngIf="student.controls['address'].hasError('required')">Address is Required!</p>
        </div>
        </div>
        <div class="col">
          <label>Email: </label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            placeholder="email"
          />
          <div *ngIf="student.controls['email'].touched">
            <p class="alert alert-danger" *ngIf="student.controls['email'].hasError('required')">Email is Required!</p>
        </div>
        </div>
      </div>
      <div class="form-row my-4">
        <div class="col">
          <label>Phone: </label>
          <input
            type="number"
            formControlName="phone"
            class="form-control"
            placeholder="phone no"
          />
          <div *ngIf="student.controls['phone'].touched">
            <p class="alert alert-danger" *ngIf="student.controls['phone'].hasError('required')">Phone number is Required!</p>
        </div>
        </div>
        <div class="col">
          <label>Postal Code: </label>
          <input
            type="text"
            formControlName="code"
            class="form-control"
            placeholder="postal code"
          />
          <div *ngIf="student.controls['code'].touched">
            <p class="alert alert-danger" *ngIf="student.controls['code'].hasError('required')">Code is Required!</p>
        </div>
        </div>
      </div>
      <div class="form-row my-4">
        <div class="col">
          <label>Gender: </label>
          <div class="form-check">
            <label class="form-check-label">
              <input
                type="radio"
                formControlName="gender"
                class="form-check-input"
                name="gender"
                value="male"
              />Male
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input
                type="radio"
                formControlName="gender"
                class="form-check-input"
                name="gender"
                value="female"
              />Female
            </label>
          </div>
        </div>
        <div class="col">
          <label>Course: </label>
          <select formControlName="courseId" id="select-meal-type"  class="form-control" [(ngModel)]="multiselectdata" (change)="getFee()" multiple >
            <option [value]="data.id" *ngFor="let data of course; i as index">{{ data.courseName }}</option>
            
          </select>
          <div *ngIf="student.controls['courseId'].touched">
            <p class="alert alert-danger" *ngIf="student.controls['courseId'].hasError('required')">Please select course</p>
        </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label>Section: </label>
          <select formControlName="section" class="form-control" >
            <option>A</option>
            <option>B</option>
            <option>C</option>
          </select>
          <div *ngIf="student.controls['section'].touched">
            <p class="alert alert-danger" *ngIf="student.controls['section'].hasError('required')">Please select section!</p>
        </div>
        </div>
        <div class="col">
          <label>Instructor: </label>
          <select formControlName="instructorId" class="form-control" >
            <option [value]="data.id"  *ngFor="let data of instructorData; i as index">{{ data.fname }} {{ data.lname }}</option>
            <!-- <option>B</option>
            <option>C</option> -->
          </select>
          <div *ngIf="student.controls['instructorId'].touched">
            <p class="alert alert-danger" *ngIf="student.controls['instructorId'].hasError('required')">Please select instructor!</p>
        </div>
        </div>
        

      </div>
      <div class="form-row my-4">
        <div class="col">
          <fieldset disabled>
            <div class="form-group">
              <label for="disabledTextInput">Fee: </label>
              <input
                formControlName="fee"
                type="text"
                id="disabledTextInput"
                class="form-control"
                
              />
            </div>
          </fieldset>
        </div>
        <div class="col">
          <label>Discount: </label>
          <input
            (keyup)="discount($event.target.value)"
            type="number"
            formControlName="discount"
            class="form-control"
            placeholder="enter discount"
          />
          <div *ngIf="student.controls['discount'].touched">
              <p class="alert alert-danger" *ngIf="student.controls['discount'].hasError('required')">Name is Required!</p>
          </div>
        </div>
        
      </div>
      <div class="form-row my-2">
        <div class="col-6">
          <label>Total Amount: </label>
          <input
            type="text"
            formControlName="totalAmount"
            class="form-control"
            placeholder="enter discount"
          />
          <div *ngIf="student.controls['totalAmount'].touched">
              <p class="alert alert-danger" *ngIf="student.controls['totalAmount'].hasError('required')">Name is Required!</p>
          </div>
        </div>
      </div>
      
      <div class="form-row my-2">
          <div class="col">
              <button class="btn btn-primary" [disabled]="!student.valid" (click)="handleSave()">Save</button>
              
          </div>
      </div>
    </form>
  </div>
</div>




