<div class="my-2">
    <h1 class="header">Course List</h1>

    <table class="table table-striped table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Fee</th>
            <th scope="col">Starting Date</th>
            <th scope="col">Ending Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of course; i as index">
          <tr>
            <th scope="row">{{ data.id }}</th>
            <td>{{ data.courseName }}</td>
            <td>{{ data.courseFee }}</td>
            <td>{{ data.startingDate }}</td>
            <td>{{ data.endingDate }}</td>
            <td><button class="btn btn-danger" (click)="deleteCourseDate(data.id)">Delete</button>
              <button class="btn btn-warning mx-1" (click)="editCourseData(data.id)" >Edit</button>
            </td>
          </tr>
          
        </tbody>
      </table>
</div>

